*{
  font-family: 'Merriweather', serif;
}
/* for consistency */
h1{
  font-weight:bold;
  color:white;
}

span{
  padding: 5px 5px;
}

#weatherContainer{
  font-size:xx-large;
  }

  .card-body-bg{
    background-color: cornflowerblue;
  }

